* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: NotoSans-Regular, Arial, sans-serif;
  min-height: 100vh;
}

.hidden {
  display: none;
}

body {
  background-color: #101010;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  padding-left: 20px;
  z-index: 2;
}
.header-mobile {
  display: none;
}
.header__logo {
  height: 30px;
}
.header__dropdowns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__dropdowns-link {
  font-weight: bold;
  margin: 0 10px;
}
.header__dropdowns-link:hover {
  color: #f0d500;
  cursor: pointer;
}
.header__dropdowns-link:hover + .header__dropdowns-link-droppable-cinema, .header__dropdowns-link:hover + .header__dropdowns-link-droppable-subscription {
  display: block;
}
.header__dropdowns-link-droppable-cinema:hover, .header__dropdowns-link-droppable-subscription:hover {
  display: block;
}
.header__dropdowns-link-droppable-cinema {
  display: none;
  position: absolute;
  padding-top: 20px;
  top: 40px;
  left: 10%;
  width: 200px;
  background-color: black;
  z-index: 3;
}
.header__dropdowns-link-droppable-subscription {
  display: none;
  position: absolute;
  padding-top: 20px;
  top: 40px;
  left: 26%;
  width: 200px;
  background-color: black;
  z-index: 3;
}
.header__dropdowns-link-droppable-list {
  list-style-type: none;
  color: white;
}
.header__dropdowns-link-droppable-element {
  font-size: 0.9rem;
}
.header__dropdowns-link-droppable-element:hover {
  cursor: pointer;
  color: #f0d500;
}
.header__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.header__search-input {
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  padding-left: 40px;
}
.header__search-input::placeholder {
  font-size: 1.1rem;
}
.header__search-icon {
  margin-right: -30px;
  color: #999999;
  font-size: 1.2rem;
  z-index: 3;
}
.header__help {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__help-text {
  margin: 0;
  color: #999999;
  font-weight: bold;
}
.header__help-text:hover {
  color: #f0d500;
  cursor: pointer;
}
.header__auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 30px;
}
.header__auth-login {
  font-weight: bold;
  margin: 0;
}
.header__auth-login:hover {
  cursor: pointer;
  color: #f0d500;
}
.header__auth-register {
  font-weight: 600;
  padding: 7px 10px;
  border-radius: 3px;
  margin: 0;
  margin-left: 20px;
  color: black;
  background-color: #f0d500;
}
.header__auth-register:hover {
  cursor: pointer;
}

.main {
  background-color: #171717;
  flex-grow: 1;
  margin: 0 300px;
}

.carousel {
  margin-top: -40px;
  cursor: pointer;
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.featured__image {
  width: 19%;
  border-radius: 3px;
}
.featured__image:hover {
  outline: 4px solid #f0d500;
  outline-offset: -4px;
}

.movie-carousel {
  width: 100%;
}
.movie-carousel__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  margin-top: 20px;
  padding: 0 20px;
}
.movie-carousel__title {
  font-weight: bold;
  font-size: 2rem;
}
.movie-carousel__see-more {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
}

.swiper {
  width: 98vw;
  height: 300px;
  margin-top: 5px;
}
.swiper-slide {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 95%;
  border-radius: 3px;
}
.swiper-slide img:hover {
  outline: 4px solid #f0d500;
  outline-offset: -4px;
  cursor: pointer;
}
.swiper-slide__title {
  color: white;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.swiper-button-prev, .swiper-button-next {
  color: white;
  font-weight: 800;
}
.swiper--genres {
  height: 200px;
}
.swiper--genres img {
  width: 50%;
}

.swipper--featured {
  display: none;
}

.footer__main {
  height: 400px;
  width: 100%;
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.footer__title {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer__subtitle {
  padding: 0 20%;
  text-align: center;
  color: #ccc;
}
.footer__link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__link-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.footer__link-text {
  text-align: center;
  padding: 0 15%;
  font-size: 0.9rem;
  color: #ccc;
}
.footer__link-image {
  height: 80px;
  margin-bottom: 20px;
}
.footer__secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 10px 40px;
}
.footer__secondary-logo {
  width: 120px;
}
.footer__secondary-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  font-size: 0.9rem;
  color: #999999;
  flex-grow: 1;
  padding-left: 20px;
  margin: 0;
}
.footer__secondary-pages-link {
  margin: 7px;
  color: silver;
}
.footer__secondary-pages-link:hover {
  cursor: pointer;
  color: white;
}
.footer__secondary-adress {
  color: #696869;
  font-size: 0.8rem;
  padding-left: 40px;
  padding-bottom: 30px;
}

.mobile-nav {
  display: none;
}

@media (max-width: 700px) {
  .header,
carousel-control-prev,
carousel-control-next,
.swiper-button-next,
.swiper-button-prev,
.footer__main {
    display: none;
  }

  .header-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    z-index: 5;
  }
  .header-mobile__logo {
    width: 120px;
  }
  .header-mobile__search {
    color: white;
  }

  .footer {
    flex-wrap: wrap;
    height: auto;
  }
  .footer__subtitle {
    padding: 0;
    margin: 0;
  }
  .footer__main {
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }
  .footer__links {
    flex-wrap: wrap;
  }
  .footer__secondary {
    flex-direction: column;
    padding-top: 50px;
  }
  .footer__secondary-logo {
    margin-bottom: 20px;
  }
  .footer__secondary-pages {
    flex-direction: column;
  }
  .footer__secondary-pages-link {
    margin: 1px;
  }
  .footer__secondary-adress {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .main {
    margin: 0;
    margin-top: -70px;
    background-color: #171717;
  }

  .carousel {
    height: 200px;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    height: 100%;
  }
  .carousel img {
    height: 100%;
    object-fit: cover;
  }

  .featured {
    display: none;
  }

  .swiper {
    height: 195px;
  }
  .swiper--genres {
    height: 150px;
    margin-bottom: 20px;
  }
  .swiper--genres img {
    width: 80%;
  }
  .swiper-slide__title {
    font-weight: normal;
    font-size: 1rem;
  }

  .swipper--featured {
    display: block;
    height: 160px;
  }

  .movie-carousel__title {
    font-size: 1rem;
  }
  .movie-carousel__see-more {
    display: none;
  }

  .mobile-nav {
    display: block;
    position: sticky;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-top: 1px solid #333333;
    /*     height: 50px;
    */
    width: 100%;
    padding-top: 10px;
  }
  .mobile-nav__link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    justify-content: space-between;
    align-items: stretch;
  }
  .mobile-nav__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 50px;
    justify-content: flex-end;
  }
  .mobile-nav__link-text {
    font-size: 0.6rem;
    height: 20%;
    margin: 5px;
    color: #ccc;
    margin-top: 10px;
  }
  .mobile-nav__link-img {
    height: 40%;
  }
  .mobile-nav__link-img--eye {
    height: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
